@media (max-width: 768px) {
  .navbar {
    backdrop-filter: blur(20px);
  }

  .nav-link {
    font-size: 14px;
    margin: auto 10px;
  }

  .nav-link:hover {
    transform: none;
    font-weight: 400;
    color: #3cff00;
  }

  .nav-link:active {
    color: whitesmoke;
  }

  .hero-text {
    width: 100% !important;
  }

  .hero-img {
    width: 100% !important;
  }

  .hero-text h3 {
    font-size: 18px !important;
  }

  .hero-text h2 {
    font-size: 24px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .hero-text button {
    font-size: 16px !important;
  }

  .bord-paper {
    display: flex;
    flex-wrap: wrap;
  }

  .bord-paper .col {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .course-headings {
    font-size: 24px;
    font-weight: bolder;
    color: #000000;
    margin-bottom: 20px;
    background-color: #dbf8d7;
    padding: 10px;
    border-radius: 10px;
  }

  .card-icon i {
    font-size: 20px;
    font-weight: bolder;
    color: #29b000;
    background-color: #def9cff8;
    padding: 10px;
    border-radius: 10px;
  }

  .flip-card-head {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 5px;
  }

  .flip-card-subhead {
    font-size: 14px;
    font-weight: bolder;
  }

  .flip-card-text {
    font-size: 10px;
  }

  .flip-card-tick {
    font-size: 12px;
    font-weight: bolder;
    color: #185b04;
  }

  .flip-card-link {
    font-size: 12px;
    font-weight: bolder;
    color: #185b04;
  }
}