@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1181px;
    }
}

@media (max-width: 768px) {
    .nav-link:hover {

        transform: scale(1);
        font-weight: 400;
        color: whitesmoke;
    
    }

    .hero-text {
        width: 100% !important;
    }

    .hero-img {
        width: 100% !important;
    }

    .hero-text>h5{
       
        font-size: 18px;
       
        
    }
    .hero-text>h2{
       
        font-size: 22px !important;
       
    }
    .hero-text>p{
        
        font-size: 12px !important;
        
    }
}


